.avatar {
  position: relative;
}

.border {
  stroke-width: 3;
  stroke: rgba(0, 0, 0, 0.1);
  fill: none;
}

.badge {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 13px;
  height: 13px;
  background: #00c980;
  border-radius: 50%;
  border: 3px solid #ffffff;
}
